

ul.list-group {
    min-height: 130px;
  }
  .searchBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .searchBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }